* {
    margin: 0px;
    padding: 0px;
}

header,
footer,
section,
main{
    display: block;
}

a {
    text-decoration: none;
}

body{
    background: #F2F2F2;
}

header{

}
header a {
    color: #222222;
}

#logo{
    background:url(images/Star.png) no-repeat left;
    background-size: contain;
}
