*{
    margin: 0px;
    padding: 0px;
}

image,
body,
header,
section{
  display:block;
}

form{
  font-family: 'Oswald', sans-serif !important;
}

label{
  font-family: 'Oswald', sans-serif !important;
  font-size: 18px;
}

h2{
    font-size: 50px !important;
    font-family: 'Bungee', cursive !important;
}

audio{
  display: none;
}

#wrapper{
  margin-left: 400px;
  margin-bottom: 200px;
  width: 100%;

}

.form{
margin-left: 100px;
}

footer{
  width: 1440px;
  height: 180px;
  clear: both;
  position: fixed;
  bottom:0px;
  background:url(/money.svg) no-repeat center;
}

/* MONEY RAIN  */

.bill1 {
  height: 100px;
  width: 100px;
  display: inline-block;
  position: relative;
  
}

.rain div {
    display: inline-block;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: relative;
    
    -webkit-animation: rain 5s infinite  linear;
    -moz-animation: rain 5s infinite  linear;
}
.rain div:nth-child(5n+5) {

    -webkit-animation-delay: .75s;
    -moz-animation-delay: .75s;
}
.rain div:nth-child(3n+2) {

    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}
.rain div:nth-child(2n+5) {

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
}

.rain div:nth-child(3n+10) {

    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
}
.rain div:nth-child(7n+2) {

    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
}
.rain div:nth-child(4n+5) {

    -webkit-animation-delay: 3.25s;
    -moz-animation-delay: 3.25s;
}
.rain div:nth-child(3n+7) {

    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
}

@-webkit-keyframes rain {
  0% {
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;

	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    opacity: 0;

	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
@-moz-keyframes rain {
  0% {
    opacity: 1;
    
	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;
   
	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    opacity: 0;
    
	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}
